body {
	background: url(../img/bg.jpg) center 33% no-repeat;
	background-size: cover;
}

.header {
	color: #fff
}

.spacer	{
	margin-top: 15px;
}

.credits {
	color: #fff;
	font-weight: bold;
	margin-top: 50px;
}

label {
	color: #fff;
}

input[type=number] {
	height: 50px;
}

#prova-objetiva {
	color: #fff;
}

#prova-objetiva span {
	padding: 10px 15px;
	margin-left: 15px;
}

#results {
	display: none;
	margin-top: 30px;
}

#results-table {
	background: #fff;
	border-radius: 5px;
	margin-top: 30px;
}